<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display:inline-block; justify-content: center; align-items: center;">
    {% csrf_token %}
    <label for="name">Name</label>
    {{form.name}}
    <label for="name">Last Name</label>
    {{form.last_name}}
    <label for="name">Email</label>
    {{form.email}}
    {{form.submit}}
    <button type="submit" >Add Person</button>

    {{ new_data|json_script:"new_data" }}
    <script>
        const new_data = JSON.parse(document.getElementById('new_data').textContent)
        console.log(new_data)
    </script>
</body>
</html>